<div class="card bg-light m-3">
    <div class="card-header">Star</div>
    <form>
        <div class="form-group m-3">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" id="inputName" required minlength="3" placeholder="Enter name" [(ngModel)]="starDto.name" name="starName">
            <div class="alert alert-danger" *ngIf="errorFlag" role="alert">{{errorMessage}}</div>
        </div>
        <div class="form-group m-3">
            <label for="exampleInputPassword1">Density</label>
            <input type="number" class="form-control" id="inputDensity" required placeholder="Enter density" [(ngModel)]="starDto.density" name="densityName">
        </div>
        <div class="alert alert-success" *ngIf="successFlag" role="alert">{{successMessage}}</div>
        <button type="submit" class="btn btn-primary m-3" (click)="save()">Save</button>
        <button type="submit" class="btn btn-danger m-3" [routerLink]="['/stars']" routerLinkActive="router-link-active" >Cancelar</button>
    </form>
</div>
