<div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg mr-2" href="#" role="button" [routerLink]="['/planets']" routerLinkActive="router-link-active">Go to Planets</a>
          <a class="btn btn-primary btn-lg ml-2" href="#" role="button" [routerLink]="['/stars']" routerLinkActive="router-link-active">Go to Stars</a>
        </p>
      </div>