<h1>Stars</h1>
<div>
    <button type="button" class="btn btn-primary btn-block" (click)="add()">NEW</button>
</div>

<div>
    <table class="table text-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Density</th>
                <th scope="col">Planets</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let star of stars">
                <th>{{star.id}}</th>
                <td>{{star.name}}</td>
                <td>{{star.density}}</td>
                <td><span class="badge badge-dark" *ngFor="let planet of star.planets"><b>Name:</b>{{planet.name}}
                        <b>Size: </b>{{planet.size}}</span></td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="delete(star.id)">Delete</button>
                    <button type="button" class="btn btn-warning" (click)="update(star.id)">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
